.courses_taken_title {
    color: var(--mode-card-color);
    opacity: 0.8;
    margin: 16px 0;
    font-size: 16px;
}
.courses_taken {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 16px;
    width: fit-content;
    flex-grow: 1;
}
.courses_taken_card {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 8px;
    gap: 8px;
    background-color: #e7e7e7;
    border: 1px solid var(--mode-card-color);
    color: #414a58;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}
.courses_taken_card:hover {
    cursor: pointer;
    background-color: #e0e0e0;
    opacity: 0.8;
}
.courses_taken__instrutor {
    text-align: end;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start;
}
